<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>	

	<category label="General">
		<setting label="Control parental" type="lsep" />
   		<setting id="pekes_no" type="bool" label="Control parental" default="true"/>
		<setting label="Forzar modo de vista" type="lsep" />
		<setting id="ForzarVista" type="bool" label="30102" default="false"/>
		<setting id="ViewMode" type="enum" label="30103" values="lista|movies|thumbnails" default="lista"/>		
	</category>
   
</settings>